.catalog {
  padding: var(--big-offset) 0;

  &__left {
    grid-column: 3 span;
    border-radius: 4px;
    padding: var(--second-offset);
    background-color: var(--color-bg);
  }

  &__grid {
    grid-column: 9 span;
  }

  &__subtitle {
    margin: 0;
    margin-bottom: var(--second-offset);
    color: var(--color-main);
    font: 400 24px /24px var(--font-family);;
  }

  &__caption {
    font: var(--small-book);
    color: var(--color-main);
  }

  &__prop {
    margin-bottom: var(--second-offset);
  }
}

.catalog-list {
  grid-template-columns: repeat(9, 1fr);

  &__item {
    grid-column: 3 span;
  }
}
