.header {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: var(--color-eastbay);

  &__container {
    --padddings: 15px;
    position: relative;
    align-items: center;
    padding: 12px var(--padddings);

    &::before {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      width: calc(100% - (var(--padddings) * 2));
      height: 1px;
      background-color: var(--color-border);
      transform: translateX(-50%);
    }
  }

  &__left {
    grid-column: 2 span;
  }

  &__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-column: 10 span;

    @include mobile {
      grid-column: 2 span;
    }

    @include tablet {
      align-items: center;
      align-items: flex-start;
      grid-column: 10 span;
    }
  }

  &__nav {
    @include tablet {
      position: absolute;
      width: 400px;
      height: 100vh;
      padding: 30px;
      right: -100vw;
      top: 0;
      background-color: #5a53ab;
      z-index: 1000;
      transition: right .3s ease-in-out;

      &--active {
        right: 0;
        transition: right .3s ease-in-out;
      }
    }
    @include mobile {
      width: 100%;
    }
  }
}
.nav__link.cart__btns {
  @include tablet {
    display: none;
  }
}

.burger {
  display: none;
  margin-right: 14px;
  --burger-width: 24px;
  --burger-height: 18px;
  --burger-line-height: 3px;

  @include burger;

  color: var(--color-white);

  @include tablet {
    display: block;
    z-index: 1005;
  }
}
