
.nav {
  &__list {
    display: flex;
    align-items: center;

    @include tablet {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__list-footer {
    display: flex;
    align-items: center;

    @include tablet {
      align-items: flex-start;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__link,
  &__link-footer {
    position: relative;
    outline: none;
    font: var(--small-book);
    color: var(--color-white);
    transition: opacity .3s ease-in-out;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: currentColor;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform .3s ease-in-out;
    }

    &:focus {
      &::before {
        transform: scaleX(1);
      }
    }
    &:active {
      opacity: 0.8;
      transition: opacity .3s ease-in-out;
    }

    @include for-desktop {
      &:hover {
        &::before {
          transform: scaleX(1);
        }
      }
    }
    @include tablet {
      font-size: 22px;
      margin-bottom: 100px;
    }
  }

  &__link-footer {
    @include tablet {
      font-size: 18px;
    }
    @include mobile {
      font-size: 14px;
    }
  }

  &__item,
  &__item-footer {
    &:not(:last-child) {
      margin-right: var(--main-offset);
    }

    @include tablet {
      margin-bottom: 28px;
    }
  }

  &__item-footer {
    margin-bottom: 14px;
  }
}
