<section class="team">
  <div class="container">
    <img src="img/team-figure.svg" alt="" aria-hidden="true" class="team__figure">
    <h2 class="title team__title">Наша команда</h2>
    <ul class="team__list list-reset grid">
      <li class="team__item">
        <img src="img/team-1.jpg" alt="Максим Золотарев" class="team__img">
        <strong class="team__subtitle">Максим Золотарев</strong>
        <span class="team__post">Администратор</span>
      </li>
      <li class="team__item">
        <img src="img/team-2.jpg" alt="Наталья Иванова" class="team__img">
        <strong class="team__subtitle">Наталья Иванова</strong>
        <span class="team__post">Администратор</span>
      </li>
      <li class="team__item">
        <img src="img/team-3.jpg" alt="Анастасия Петрова" class="team__img">
        <strong class="team__subtitle">Анастасия Петрова</strong>
        <span class="team__post">Администратор</span>
      </li>
      <li class="team__item">
        <img src="img/team-4.jpg" alt="Сергей Игрунец" class="team__img">
        <strong class="team__subtitle">Сергей Игрунец</strong>
        <span class="team__post">Администратор</span>
      </li>
      <li class="team__item">
        <img src="img/team-5.jpg" alt="Антон Табаков" class="team__img">
        <strong class="team__subtitle">Антон Табаков</strong>
        <span class="team__post">Администратор</span>
      </li>
      <li class="team__item">
        <img src="img/team-6.jpg" alt="Виктория Сизова" class="team__img">
        <strong class="team__subtitle">Виктория Сизова</strong>
        <span class="team__post">Администратор</span>
      </li>
    </ul>
    <div class="grid"></div>
  </div>
</section>
